@charset "UTF-8";


@media screen and (min-width: 400px) and (max-width: 992px) {
    

        header #menu-header {
            display: none;
        }

        header #phone {
            display: none;
        }

        #imgdestaque {
            display: none;

        }
        
        .retangulo {
            padding: 0px;
            padding-top: 100px;

        }

        .texto-destaque {
            align-items: center;
            text-align: center;
            width: 60vw;
            height: 60vh;
        }
        
        .texto-destaque p {
            padding-bottom: 20px;
        }

        .circles {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: 500px;
            margin: 100px 0px;
        }

        /* Inicio da Sessão de mais vendidos */

        .vendidos {
            display: flex;
        }

        .primeira-linha {

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .segunda-linha {

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        /* Final da Sessão de mais vendidos */

        /* Services*/

        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }


        #logo-col {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
}

@media screen and (min-width: 993px) and (max-width: 1200px) {

        .destaque {
            display: inline-block;
            margin: auto;

        }

        #imgdestaque {
            display: none;
        }

        #burguer {
            display: none;
        }


        .texto-destaque {
            align-items: center;
            text-align: center;
            margin: 0px;
        }
        
        .texto-destaque p {
            padding-bottom: 20px;
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }



}



@media screen and (min-width: 1201px) {
    
        #burguer {
            display: none;
        }
        


}