@charset "UTF-8";


@media screen and (max-width: 420px) {
    

        header #menu-header {
            display: none;
        }

        header #phone {
            display: none;
        }

        #imgdestaque {
            display: none;

        }


        
        .circles {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: auto;
        }

        .retangulo {
            padding: 0px;
            margin: 100px 0px;

        }

        .texto-destaque {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        
        .texto-destaque p {
            padding-bottom: 20px;
        }

        /* Inicio da Sessão de mais vendidos */

        .vendidos {
            display: flex;
        }

        .primeira-linha {

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .segunda-linha {

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        /* Final da Sessão de mais vendidos */

        /* Services*/

        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }


        #logo-col {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #burguer {
            display: flex;
        }
        
}

@media screen and (max-width: 820px) {



        .destaque {
            display: flex;
            margin: auto;
            max-width: 800px;
            max-height: 500px;
        }

        #imgdestaque {
            display: none;
        }

        #burguer {
            display: none;
        }

        #phone {
            display: none;
        }
        
    

        .circles {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: auto;
        }
        
        .destaque {
            padding: 0px;
        }
        .texto-destaque {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0px;
        }
        
        .texto-destaque p {
            padding-bottom: 20px;
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .primeira-linha {
            margin: 1vw;
        }



}



@media screen and (max-width: 1200px) {
    
        #burguer {
            display: none;
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
        }


}