@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --cor01: #0D0D0D;
    --cor02: #265925;
    --cor03: #3CA64C;
    --cor04: #308C47;
    --cor05: #037F8C;
}

/* Configurações gerais */
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    box-sizing: border-box;

}




body h3 {
    color: var(--cor05);
}

body h2 {
    color: var(--cor05);
    font-size: 1.5em;
}

body h1 {
    color: var(--cor05);
}

html, body {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


/* Header */ 

#container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    justify-content: space-around;
    box-sizing: border-box;
}


#menu-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 37px;
}

#burguer {
    color: var(--cor05);
    cursor: pointer;
    overflow: hidden;
    display: none;
}
header {
    width: 100%;
}

header a {
    color: var(--cor05);
    font-weight: 400;
    display: flex;
    gap: 5px;
    align-items: flex-start;
    transition: all 0.3s;
}

header a:hover {
    transform: scale(1.1);
}

header p {
    color: var(--cor05);
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

/* Fim do Header */

/* Configuração geral de artigos */
article {
    padding-top: 20px;
    margin-top: 0px;
    display: block;
    max-width: 800px;
    margin: auto;
    padding-bottom: 50px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.202);
}
article p {
    max-width: 800px;
    padding: 15px 50px;

}

article h1 {
    font-size: 1.5em;
    text-align: center;
}



.sobre {
    height: 100vh;
    background-color: var(--cor05);

}
/* Fim de artigos */

/* Inicio dos Sliders */
.slider img {
    width: 100vw;
}

/* Sessão de círculos - INICIO */
#circulos {
    margin-top: 100px;
    margin-bottom: 100px;
}
#circulos p {
    color: var(--cor05);
}
strong {
    color: var(--cor03);
}

.circles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    gap: 62px;
    height: 430px;
    box-sizing: border-box;
    justify-content: center;
    background-color: white;
}
.circles img:hover {
    transition: all 0.3s;
    transform: scale(1.1);
}
.circles p {
    text-align: center;
    font-weight: bold;
    padding-top: 23px;
}

/* Sessão de círculos - FIM */

/*Sessão Destaque - INICIO */
.retangulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: #D9D9D9;
    gap: 10px;
}

.destaque {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 100px;
    gap: 180px;
    margin: auto;
}
.texto-destaque {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 350px;
    height: 459px;
    gap: 14px;
    
}

.texto-destaque > h1 {
    color: var(--cor05);
    font-size: 2.5em;
    font-weight: 700;
}

.texto-destaque > h2 {
    color: var(--cor05);
    font-weight: 600;
}

.texto-destaque > p {
    font-weight: 300;
}

.buttondst {
    background-color: var(--cor03);
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.buttondst:hover {
    color: var(--cor02);
    transition: 0.3s;
    transform: scale(1.1);
}
/*Sessão Destaque - FIM */


/*Sessão Vendidos - INICIO */
.vendidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 63px;
    margin-bottom: 120px;
}

.vendidos-title {
    padding-top: 80px;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--cor05);
}

.dinheiro {
    font-weight: bold;
    color: var(--cor05);
}
.unidade {
    color: #0D0D0D;
    font-weight: 400;
}
.vendidos img {
    border-radius: 10px;
}
.vendidos h3 {
    margin-top: 10px;
}

.vendidos img:hover {
    transition: all 0.3s;
        transform: scale(1.1);
}

.primeira-linha {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 0px;
    text-align: center;
    gap: 32px;
}
/*Sessão Destaque - FIM */


 /* Inicio Services */
.services {
    text-align: center;
    padding-bottom: 100px;

}
.services a:hover {
    transition: all 0.3s;
    transform: scale(1.1);
}
.services h2 {
    margin: 40px 0px 100px 0;
}

.cards h3 {
    background-color: rgba(211, 211, 211, 0.234);
}

.cards {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    gap: 68px;
}

.services p {
    width: 245px;
    color: var(--cor01);
    padding: 0px;
    text-align: justify;
    background-color: rgba(211, 211, 211, 0.234);
}

.cards img {
    border-radius: 15px 10px 0px 0px;
}
/* Sessão Services - FIM */

footer {
    background-color: lightgray;
    padding: 50px 0px;
}

footer ul li {
    color: var(--cor01);
    font-weight: 500;
}
footer ul li:hover {
    color: var(--cor05);
    padding-left: 10px;
    transition: 0.4s;
}

.container-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}

.row-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.footer-col {
    width: 25%;
    padding: 0px 15px;
}
.footer-col ul {
    list-style: none;
}
.footer-col li {
    margin: 10px 0;

}
.footer-col ul li a {
    text-transform: capitalize;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}



/* Páginas extras */

.body-papelaria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 50px 50px;
    gap: 40px;
}

.produtos-ind img {
    margin: auto;
}
.body-papelaria a:hover {
    color: var(--cor05);
    font-weight: bold;
}

/* Páginas extras - FIM */

@media (max-width: 1200px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;  
        align-content: center;
    }
}

@media (max-width: 800px) {
    .footer-col {
        width: 100%;
    } 
}

